body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: gold;
  transition: width 0.3s;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

/* Sections */
.section {
  padding: 120px 20px;
  text-align: center;
}

.section h2 {
  color: gold;
}

/* Project Cards */
.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

